// Fredoka
@font-face {
  font-family: 'Fredoka';
  src: url('../webfonts/fredoka/Fredoka-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Fredoka';
  src: url('../webfonts/fredoka/Fredoka-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Fredoka';
  src: url('../webfonts/fredoka/Fredoka-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

// KodeMono
@font-face {
  font-family: 'KodeMono';
  src: url('../webfonts/kodemono/KodeMono-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'KodeMono';
  src: url('../webfonts/kodemono/KodeMono-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'KodeMono';
  src: url('../webfonts/kodemono/KodeMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
