.information-content {
  padding: 100px 2rem;
  max-width: 1140px;
  width: 100%;

  &__single {
    margin-bottom: 2rem;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 0 6px rgba($color: #000000, $alpha: 0.05);
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 45px 32px;
    position: relative;
    transition: 300ms box-shadow linear;

    &:hover {
      box-shadow: 0 16px 64px -16px rgba($color: #000000, $alpha: 0.2);
    }
  }

  &__icon {
    margin: 0 0 33px;
  }

  &__content {
    > h2 {
      font-size: 22px;
    }

    > p {
      color: #888888;
      margin-right: -10px;

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  .information-content {
    margin-left: 327px;
    padding: 100px;
    width: calc(100% - 327px);
  }
}
